/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

* {
  font-family: 'Alegreya Sans', sans-serif;

}
body {
  background-image: url("assets/img/stock-programming2.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left;
  background-size: cover;


}
