@import '~@angular/material/theming';
@include mat-core();

//ustawienie kolorów
$primary: mat-palette($mat-grey, 800);
$accent:  mat-palette($mat-blue-grey, 600, 100, 800);
$warn:    mat-palette($mat-red, 600);
$theme: mat-dark-theme($primary, $accent, $warn);

$custom-typography: mat-typography-config(
  $font-family: 'Raleway, monospace',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500));
@include mat-tabs-typography($custom-typography);

//nadpisywanie czcionek we wszystkich elementach materiala
//@include mat-base-typography($custom-typography);

// Override typography for all Angular Material, including mat-base-typography and all components.
//@include angular-material-typography($custom-typography);
//domyslnie nowe ustawienia juz sa, aby zmieniac czcionki itd. patrz na dokumentacje angular material typography

//nadpisywanie styli elementów
@mixin customization-theme($theme) {
  // Extract whichever individual palettes you need from the theme.
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .mat-list {
    background-color: mat-color($primary);
    border-color: mat-color($accent, A400);
  }
  .mat-list-item {
    background-color: mat-color($primary, 700);
  }
  .mat-tab-header {
    background-color: mat-color($primary);
    color: mat-color($accent, 200);
  }
  .mat-tab-label {
    background-color: mat-color($primary);
  }
  .mat-ink-bar {
    background-color: mat-color($accent, 200);
    color: mat-color($accent, 200);
  }
  .mat-tab-header-pagination-chevron { // side arrows
    //background-color: mat-color($accent);
    //color: mat-color($accent);

  }
  .mat-expansion-panel-header {
    background-color: mat-color($primary);
  }
  .mat-expansion-panel-content {
    background-color: mat-color($primary, 700);
  }

}

//import głównego schematu i nadpisującego
@include angular-material-theme($theme);
@include customization-theme($theme);

// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './app/vendor/css/align.css';
* {
  font-family: 'Alegreya Sans', sans-serif;

}
body {
  background-image: url("assets/img/stock-programming2.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left;
  background-size: cover;


}
