[class^="fa-"], [class*=" fa-"] {
  cursor: pointer;
  color: #2e2e2e;
}
mat-toolbar {
  justify-content: center;
  height: 96px;
  padding: 20px;
  text-align: right;
  color: black;
  background-image: url("../../../assets/img/toolbar-wood.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  border-radius: 6px 6px 0 0;
}
hr {
  background-color: grey;
}
mat-tab-group {
  background-color: floralwhite; /* #1B3E3E; only header should be colored....TODO: transparent body, color only header*/
  margin-bottom: 2%;
  border-radius: 0 0 6px 6px;
}
.main-content {
  /*color: whitesmoke;*/
  /*background-color: darkslategrey;*/

  color: darkslategrey;
  padding-top: 2.4%;
  padding-bottom: 1.6%;
  border-radius: 0 0 6px 6px;
}
.secondary-content {
  background-color: floralwhite;
  margin-top: 2%;
  border-radius: 6px 6px 6px 6px;
}
.grid-image-w {
  max-width: 100%;
  height: auto;
}
.grid-image-h {
  max-height: 100%;
  width: auto;
}

mat-toolbar p {
  margin: 0 auto;
  font-family: 'Amatic SC', cursive !important;
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa;
  font-weight: bold;
  cursor: pointer;
}

.right {
  display: inline-block;
  position: absolute;
  right: 5%;
}
.left {
  display: inline-block;
  position: absolute;
  left: 5%;
}
