[class^="fa-"], [class*=" fa-"] {
  cursor: pointer;
  color: #2e2e2e;
}
mat-toolbar p {
  margin: 0 auto;
  font-family: 'Amatic SC', cursive !important;
  font-size: 24px;
  text-shadow: 1px 1px 1px #aaa;
  font-weight: bold;
  cursor: default;
}
mat-expansion-panel p {
  margin: 0 auto;
  margin-left:0;
  font-family: 'Amatic SC' !important;
  font-size: 20px;
}
#toolbar {
  justify-content: center;
  height: 70px;
  color: black;
  background-image: url("../../../assets/img/toolbar-wood.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  border-radius: 6px 6px 0 0;
}
#toolbar p {
  margin: 0 auto;
  font-family: 'Amatic SC', cursive !important;
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa;
  font-weight: bold;
  cursor: default;
  margin-bottom: 6px;
}
hr {
  background-color: grey;
}
mat-tab-group {
  background-color: whitesmoke;
  margin-bottom: 2%;
  border-radius: 0 0 6px 6px;
}
.main-content {
  color: darkslategrey;
  padding-top: 2.4%;
  padding-bottom: 1.6%;
  border-radius: 0 0 6px 6px;
}

#scrollable {
  height: 602px;
  width: auto;

}
.img-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 6px;
  border: 1px solid grey;
  border-left: none;
  border-top: none;
  background-color: lightgrey;
  height: 150px;
}
.img-container img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.img-container:hover {
  padding: 6px;
  border: 1px solid grey;
  border-top: none;
  border-left: 0px;
  background-color: whitesmoke;
}
.imgs-container:nth-child(even) {
  border: 1px solid grey;
  border-left: 0px;
  border-bottom: none;
}
@-moz-document url-prefix() {
  @media all and (max-width: 990px) {
    .portfolio-cat {
      height:432px;
    }
  }
  @media all and (max-width: 768px) {
    .portfolio-cat {
      height:312px;
    }
  }
  @media all and (min-width: 990px) {
    .portfolio-cat {
      height:600px;
    }
  }
  @media all and (min-width: 1120px) {
    .portfolio-cat {
      height:720px;
    }
  }
}
@media all and (min-width: 1120px) {
  #scrollable {
    height: 722px;
  }
  .img-container {
    height: 180px;
  }

}
@media all and (max-width: 990px) {
  #scrollable {
    height: 434px;
  }
  .img-container {
    height: 108px;
  }

}
@media all and (max-width: 768px) {
  #scrollable {
    height: 314px;
  }
  .img-container {
    height: 78px;
  }

}
.portfolio-cat {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: start;
  padding:6px;
  overflow-y: scroll;
}
.portfolio-cat::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 0px;
  background-color: #F5F5F5;
}




.portfolio-cat::-webkit-scrollbar
{
  width: 10px;
  background-color: #F5F5F5;
}

.portfolio-cat::-webkit-scrollbar-thumb
{
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}
.portfolio-content {
  margin: 0 auto;
  width: 100%;
}

.resume-content {
  border-radius:5px;
  border: 1px solid grey;
  border-left: none;
}
.secondary-content {
  background-color: whitesmoke;
  margin-top: 2%;
  border-radius: 6px 6px 6px 6px;
}
.grid-image-w {
  max-width: 100%;
  height: auto;
}
.grid-image-h {
  max-height: 100%;
  width: auto;
}
.mat-list-item {
  margin-top: 10px;
  margin-bottom: 10px;
}

ul {
  margin-top: 10px;
}
li {
  margin-top: 6px;
}
mat-ink-bar .mat-ink-bar {
  background-color: white !important;
  color: white !important;
}
mat-ink-bar {
  background-color: white !important;
  color: white !important;
}
.mat-tab-labels .mat-ink-bar {
  background-color: white !important;
  color: white !important;
}
